# SPDX-FileCopyrightText: 2024 KUNBUS GmbH
#
# SPDX-License-Identifier: GPL-2.0-or-later

[Unit]
Description=Revolution Pi Modbus slave
Documentation=https://revolutionpi.com
After=network.target systemd-modules-load.service

[Service]
ExecStart=/usr/sbin/piModbusSlave
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=revpi-modbus
Group=revpi-modbus
SupplementaryGroups=dialout picontrol

# Sandboxing options
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

# Restrict file system access to the following directories
InaccessiblePaths=/boot /home /root

# Allow realtime scheduling
LimitRTPRIO=99
LimitRTTIME=infinity

# Allow bind to ports < 1024
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
