# SPDX-FileCopyrightText: 2024 KUNBUS GmbH
#
# SPDX-License-Identifier: GPL-2.0-or-later

[Unit]
Description=Revolution Pi Modbus master
Documentation=https://revolutionpi.com
After=network.target systemd-modules-load.service

[Service]
ExecStart=/usr/sbin/piModbusMaster
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=revpi-modbus
Group=revpi-modbus
SupplementaryGroups=dialout picontrol

# Sandboxing options
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

# Restrict file system access to the following directories
InaccessiblePaths=/boot /home /root

# Allow realtime scheduling
LimitRTPRIO=99
LimitRTTIME=infinity

[Install]
WantedBy=multi-user.target
