Source: revpi-modbus
Section: contrib/electronics
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-exec,
               libmodbus-dev,
               libjson-c-dev,
               cmake
Standards-Version: 3.9.8
Maintainer: KUNBUS GmbH <support@kunbus.com>
Homepage: https://revolution.kunbus.com/

Package: pimodbus-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Revolution Pi Modbus master
 Control USB- or Ethernet-attached Modbus slaves from a RevPi Core.
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.

Package: pimodbus-slave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Revolution Pi Modbus slave
 Control a RevPi Core from a USB- or Ethernet-attached Modbus master.
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
