Source: pimodbus-slave
Section: contrib/electronics
Priority: extra
Build-Depends: debhelper (>= 9), dh-exec, libmodbus-dev, libjson-c-dev
Standards-Version: 3.9.8
Maintainer: Kunbus <admin@kunbus.de>
Homepage: https://revolution.kunbus.com/

Package: pimodbus-slave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Revolution Pi Modbus slave
 Control a RevPi Core from a USB- or Ethernet-attached Modbus master.
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
